<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P2</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>

<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-3"></div>
            <div id="app" class="col-xs-9">
                <ul>
                    <li v-for="(ingredient, i) in ingredients">{{ ingredient }} - {{ i }}</li>
                </ul>

                <button @click="ingredients.push('spices')">Add ingredient</button>

                <hr>

                <template v-for="(ingredient, i) in ingredients">
                    <p>{{ingredient}}</p>
                    <p>{{i}}</p>
                </template>

                <hr>

                <ul>
                    <li v-for="person in persons">{{ person.name }}</li>
                </ul>

                <hr>

                <ul>
                    <li v-for="person in persons">
                        <div v-for="(value, key, index) in person" >{{key}}: {{ value }} ({{index}})</div>
                    </li>
                </ul>
                <hr>
                <span v-for="n in 10">{{ n }}, </span>

            </div>
        </div>
    </div>
</div>

<script>

    new Vue({
        el: '#app',
        data:{
            ingredients: ['meat','fruit','cookies'],
            persons:[
                {name:'max',age:27, colour:'red'},
                {name:'Anna',age:'unknown', colour:'blue'}
            ]
            
        }
    });

</script>


<style>

    

</style>

</body>
</html>